---
const { text } = Astro.props;
---

<a
  href="#"
  class="rounded-[4px] px-[90px] py-[10px] text-sm font-medium justify-center items-center align-middle bg-black bg-opacity-60 backdrop-blur-[15px] text-white"
>
  {text}
</a>
