---
const { text } = Astro.props;
---

<a
  href="#"
  class="rounded-[4px] px-[90px] py-[10px] text-black bg-white text-sm font-medium justify-center items-center align-middle bg-opacity-60 backdrop-blur-[15px]"
>
  {text}
</a>
