---
const { headerTitle, headerDescription, buttonBorderText } = Astro.props;
---

<section
  class="landing-header-section h-screen w-screen text-center relative overflow-hidden"
  data-landing-header-color="white"
>
  <div
    class="hero-content flex flex-col h-full z-30 relative transition-opacity duration-500 opacity-0 ease-in-out"
  >
    <header class="flex flex-col text-white cursor-default">
      <h2 class="pt-[80px] text-[40px] font-medium">
        {headerTitle}
      </h2>
      <p class="text-[15px] font-light">
        {headerDescription}
      </p>
    </header>
    <footer class="flex flex-col flex-grow flex-nowrap justify-end pb-4">
      <div class="flex flex-row justify-center pb-16">
        <a
          href="#"
          class="border-[3px] border-white text-sm font-medium brackdrop-blur-[15px] rounded-[4px] px-[85px] py-[7px] justify-center items-center align-middle hover:bg-white hover:text-black transition-colors duration-500 ease-in-out text-white"
        >
          {buttonBorderText}
        </a>
      </div>
    </footer>
  </div>
  <div class="absolute top-0 bottom-0 z-10 w-full h-full">
    <slot name="background" />
  </div>
</section>
