---
import LandingHeader from "../components/LandingHeader.astro";
import HeroModelY from "../components/Hero/HeroModelY.astro";
import Layout from "../layouts/Layout.astro";
import Video from "../components/Content/Video.astro";
import Image from "../components/Content/Image.astro";
import HeroModel3 from "../components/Hero/HeroModel3.astro";
import HeroModelX from "../components/Hero/HeroModelX.astro";
import HeroModelS from "../components/Hero/HeroModelS.astro";
import HeroExperience from "../components/Hero/HeroExperience.astro";
import HeroSolarPanels from "../components/Hero/HeroSolarPanels.astro";
import HeroSolarRoof from "../components/Hero/HeroSolarRoof.astro";
import HeroPowerwall from "../components/Hero/HeroPowerwall.astro";
import HeroAccessories from "../components/Hero/HeroAccessories.astro";
---

<Layout title="Welcome to Tesla">
  <LandingHeader />
  <main class="snap-y snap-mandatory relative w-full h-screen overflow-auto">
    <div class="snap-center">
      <HeroModelY
        headerTitle="Model Y"
        headerSubtitle="Lease starting at $399/mo*"
        buttonBlackText="Order Now"
        buttonWhiteText="Demo Drive"
        footerText="*Excludes taxes and fees with price subject to change. Available in select states."
        footerLink="See Details."
      >
        <Video
          slot="background"
          src="https://digitalassets.tesla.com/tesla-contents/video/upload/Homepage-Model-Y-Desktop-NA.mp4"
        />
      </HeroModelY>
    </div>
    <div class="snap-center">
      <HeroModel3
        headerTitle="Model 3"
        headerSubtitle="Lease starting at $329/mo*"
        buttonWhiteText="Order Now"
        buttonBlackText="Demo Drive"
        footerText="*Excludes taxes and fees with price subject to change. Available in select states."
        footerLink="See Details."
      >
        <Image
          slot="background"
          src="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-3-Desktop-NA.jpg"
          alt="Model 3"
        />
      </HeroModel3>
    </div>
    <div class="snap-center">
      <HeroModelX
        headerTitle="Model X"
        headerSubtitle="From $68,590*"
        headerDescription="After Federal Tax Credit & Est. Gas Savings"
        buttonWhiteText="Order Now"
        buttonBlackText="Demo Drive"
        footerText="*Price before incentives and savings is $79,990, excluding taxes and fees. Subject to change."
        footerLink="Learn about est. gas savings."
      >
        <Image
          slot="background"
          src="https://digitalassets.tesla.com/tesla-contents/image/upload/h_1800,w_2880,c_fit,f_auto,q_auto:best/Homepage-Model-X-Desktop-LHD"
          alt="Model X"
        />
      </HeroModelX>
    </div>
    <div class="snap-center">
      <HeroModelS
        headerTitle="Model S"
        headerSubtitle="From $71,090*"
        headerDescription="After Est. Gas Savings"
        buttonWhiteText="Order Now"
        buttonBlackText="Demo Drive"
        footerText="*Price before savings is $74,990, excluding taxes and fees. Subject to change."
        footerLink="Learn about est. gas savings."
      >
        <Image
          slot="background"
          src="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-S-Desktop-LHD-6.22.jpg"
          alt="Model S"
        />
      </HeroModelS>
    </div>
    <div class="snap-center">
      <HeroExperience
        headerTitle="Experience Tesla"
        headerDescription="Schedule a Demo Drive Today"
        buttonBorderText="Demo Drive"
      >
        <Video
          slot="background"
          src="https://digitalassets.tesla.com/tesla-contents/video/upload/f_auto,q_auto/Homepage-Demo-Drive-Desktop-NA.mp4"
        />
      </HeroExperience>
    </div>
    <div class="snap-center">
      <HeroSolarPanels
        headerTitle="Solar Panels"
        headerLink="Schedule a Virtual Consultation"
        buttonWhiteText="Order Now"
        buttonBlackText="Learn More"
      >
        <Image
          slot="background"
          src="https://digitalassets.tesla.com/tesla-contents/image/upload/h_1800,w_2880,c_fit,f_auto,q_auto:best/425_HP_SolarPanels_D"
          alt="Solar Panels"
        />
      </HeroSolarPanels>
    </div>
    <div class="snap-center">
      <HeroSolarRoof
        headerTitle="Solar Roof"
        headerDescription="Produce Clean Energy From Your Roof"
        buttonWhiteText="Order Now"
        buttonBlackText="Learn More"
      >
        <Image
          slot="background"
          src="https://digitalassets.tesla.com/tesla-contents/image/upload/h_1800,w_2880,c_fit,f_auto,q_auto:best/Homepage-SolarRoof-Desktop-Global"
          alt="Solar Roof"
        />
      </HeroSolarRoof>
    </div>
    <div class="snap-center">
      <HeroPowerwall
        headerTitle="Powerwall"
        buttonWhiteText="Order Now"
        buttonBlackText="Learn More"
      >
        <Image
          slot="background"
          src="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Powerwall-Desktop.jpg"
          alt="Powerwall"
        />
      </HeroPowerwall>
    </div>
    <div class="snap-center">
      <HeroAccessories headerTitle="Accessories" buttonWhiteText="Shop Now">
        <Image
          slot="background"
          src="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Accessories-Desktop-NA-APAC.jpg"
          alt="Accessories"
        />
      </HeroAccessories>
    </div>
  </main>
</Layout>
