---
import LandingHeader from "../components/LandingHeader.astro";
import HeroSection from "../components/HeroSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Tesla">
  <main>
    <LandingHeader />
    <HeroSection />
  </main>
</Layout>
