---
const { title, subtitle, description } = Astro.props;
---

<header class="flex flex-col text-black cursor-default">
  <h2 class="pt-[80px] text-[40px] font-medium">
    {title}
  </h2>
  <p class="text-[20px] font-normal">
    {subtitle}
  </p>
  <p class="text-[12px] font-normal">
    {description}
  </p>
</header>
