---
import TeslaLogo from "../Icon/TeslaLogo.astro";
import SupportIcon from "../Icon/SupportIcon.astro";
import RegionIcon from "../Icon/RegionIcon.astro";
import SignInIcon from "../Icon/SignInIcon.astro";
---

<header
  class="py-[10px] px-[50px] flex items-center align-middle fixed top-0 w-full justify-between text-white z-40"
>
  <div class="flex flex-grow basis-0">
    <a href="#">
      <TeslaLogo />
    </a>
  </div>
  <nav>
    <ul
      class="flex text-sm [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:align-middle [&>li>a]:px-4 [&>li>a]:py-2"
    >
      <li><a href="#">Vehicles</a></li>
      <li><a href="#">Energy</a></li>
      <li><a href="#">Charging</a></li>
      <li><a href="#">Discover</a></li>
      <li><a href="#">Shop</a></li>
    </ul>
  </nav>
  <nav class="hidden lg:flex flex-grow basis-0 justify-end">
    <ul
      class="flex [&>li>a]:inline-block [&>li>a]:align-middle [&>li>a]:px-2 [&>li>a]:py-2"
    >
      <li>
        <a href="#">
          <SupportIcon />
        </a>
      </li>
      <li>
        <a href="#">
          <RegionIcon />
        </a>
      </li>
      <li>
        <a href="#">
          <SignInIcon />
        </a>
      </li>
    </ul>
  </nav>
  <nav class="lg:hidden flex flex-grow basis-0 justify-end">
    <ul
      class="flex text-sm [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:align-middle [&>li>a]:px-2 [&>li>a]:py-2"
    >
      <li>
        <a href="#">Menu</a>
      </li>
    </ul>
  </nav>
</header>
