---
const { title, subtitle } = Astro.props;
---

<header class="flex flex-col text-white cursor-default">
  <h2 class="pt-[80px] text-[40px] font-medium">
    {title}
  </h2>
  <p class="text-[20px] font-light">
    {subtitle}
  </p>
</header>
