---
const { text } = Astro.props;
---

<a
  href="#"
  class="hidden border-[3px] border-white brackdrop-blur-[15px] rounded-[4px] px-[86px] py-[6px] hover:bg-white hover:text-black transition-colors duration-500 ease-in-out"
>
  {text}
</a>
