<section
  class="bg-black text-white h-screen w-screen text-center relative overflow-hidden"
>
  <div class="flex flex-col h-full z-30 relative">
    <header class="flex flex-col">
      <h2 class="pt-[80px] text-[40px] font-medium cursor-default">Model Y</h2>
      <p class="text-[20px] font-light cursor-default">
        Lease starting at $399/mo*
      </p>
    </header>
    <footer class="flex flex-col flex-grow flex-nowrap justify-end pb-4">
      <div class="flex flex-row justify-center pb-8 gap-[24px]">
        <slot name="button-1" />
        <slot name="button-2" />
      </div>
      <p class="text-[12px] cursor-default font-light">
        *Excludes taxes and fees with price subject to change. Available in
        select states. <a href="#" class="underline">See Details</a>
      </p>
    </footer>
  </div>
  <div class="absolute top-0 bottom-0 z-10 w-full h-full">
    <slot name="background" />
  </div>
</section>
