---
const { text, link } = Astro.props;
---

<div
  class="flex flex-col justify-center items-center align-middle gap-1 text-[12px] font-light text-white"
>
  <p class="cursor-default">
    {text}
  </p>
  <a href="#" class="underline">{link}</a>
</div>
